@media (min-width: 320px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Open Sans', sans-serif;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        margin: 5%;
    }
    

}

@media (min-width: 1024px) {
    body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    body header {
        width: 100%;
    }

    #main-doc {
        width: 250%;
    }


}

